.biography{
    background-color: rgb(28, 28, 29);
    margin: auto;
}

.biographyTrasparent{
    width: 70%;
    background-color: rgba(142, 142, 142, 0.293);
    margin: auto;
    position: relative;
    top: 45px;
    border-radius: 20px;
    border: 4px solid rgba(255, 255, 255, 0.144);
    display: flex;
    align-items: center;
    margin-bottom: 90px;
}

.biographyBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
}

span{
    display: block;
    color: white;
    font-size: 20px;
}

.title{
    color: white;
}

// ADATTAMENTO PER SCHERMI:

@media screen and (max-width: 765px){

    .biographyTrasparent{
        width: 90%;
    }

}

@media screen and (max-width: 430px){

    .biographyBox{
        align-items: start;
    }

}

@media screen and (max-width: 360px){

    .biographyBox{
        padding: 30px;
    }

}

@media screen and (max-width: 290px){

    .biographyBox{
        padding: 25px;
    }

}