.member-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0px;
    padding: 30px;
    background-color: transparent;
    border-right: 4px solid rgba(255, 255, 255, 0.144);
}

.member-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    max-height: 350px;
    overflow-y: auto;
    scrollbar-width: none;
}

.name{
    color: white;
    margin-top: 0px;
}

.member-img{
    width: 40%;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.144);
    margin: 0px;
}

.member-bio{
    width: 70%;
}

.back-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.back{
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-bottom: 40px;
}

.back:hover{
    text-decoration: underline;
}

.member-details::-webkit-scrollbar {
    width: 5px;
}
  
.member-details::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
  
.member-details::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.507);
    border-radius: 10px;
}