.memberCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0px;
    padding: 30px;
    background-color: transparent;
    border-right: 4px solid rgba(255, 255, 255, 0.144);
    max-height: 650px;
}

.memberDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    max-height: 350px;
    overflow-y: auto;
    scrollbar-width: none;
}

.name{
    color: white;
    margin-top: 0px;
}

.memberImg{
    width: 35%;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.144);
    margin: 0px;
}

.memberBio{
    width: 70%;
    text-align: center;
}

.back:hover{
    text-decoration: underline;
}

.memberDetails::-webkit-scrollbar {
    width: 3px;
}
  
.memberDetails::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
}
  
.memberDetails::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}