.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html, body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(28, 28, 29);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  background-color: rgb(20, 21, 23);
  border-bottom: 3px solid white;
}

.title{
  margin: 0px;
  font-size: 35px;
  color: white;
}

.navList{
  list-style: none;
  margin: 0px;
}

.footer{
  background-color: rgb(20, 21, 23);
  color: white;
  padding: 35px;
  border-top: 3px solid white;
}

.navLink{
  color: white;
  font-size: 20px;
  text-decoration: none;
  display: inline;
  margin-left: 15px;
}

.navLink:hover{
  text-decoration: underline;
}

.headerLink:hover{
  text-decoration: none;
}

