.cards-container{
    background-color: rgb(28, 28, 29);
    padding-top: 40px;
    padding-bottom: 60px;
}

.title-albums{
    color: white;
    text-align: center;
    margin-bottom: 60px;
}

.album-img{
    width: 200px;
}

.album-card{
    width: 750px;
    height: 350px;
    margin: auto;
    margin-bottom: 60px;
    background-color: rgba(142, 142, 142, 0.293);
    border: 4px solid rgba(255, 255, 255, 0.144);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title-album{
    color: white;
}

.details{
    display: flex;
}

.span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

span{
    display: block;
    color: white;
    font-size: 20px;
}

.title-album{
    display: flex;
    justify-content: center;
}