.cardsContainer{
    background-color: rgb(28, 28, 29);
    padding-top: 40px;
    padding-bottom: 60px;
    margin: auto;
}

.titleAlbums{
    color: white;
    text-align: center;
    margin-bottom: 60px;
}

.albumImg{
    width: 200px;
}

.albumCard{
    width: 750px;
    height: 350px;
    margin: auto;
    margin-bottom: 60px;
    background-color: rgba(142, 142, 142, 0.293);
    border: 4px solid rgba(255, 255, 255, 0.144);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.titleAlbum{
    color: white;
    display: flex;
    justify-content: center;
}

.details{
    display: flex;
}

.spanBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

span{
    display: block;
    color: white;
    font-size: 20px;
}

// ADATTAMENTI PER SCHERMI:

@media screen and (max-width: 920px){

    .albumCard{
        width: 80%;
    }

}

@media screen and (max-width: 920px){

    .albumCard{
        height: fit-content;
        width: 80%;
    }

    .details{
        flex-direction: column;
        align-items: center;
        margin-bottom: 35px;
    }

    .titleAlbum{
        margin-bottom: 40px;
    }

    .albumImg{
        margin-bottom: 40px;
    }

    .spanBox{
        width: 70%;
        padding-left: 10px;
    }

}

@media screen and (max-width: 410px){

    .details{
        align-items: start;
    }

    .spanBox{
        padding-left: 0px;
        width: 100%;
    }

}

@media screen and (max-width: 350px){

    .albumCard{
        padding: 15px;
    }

}